/* Fonts*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300|Open+Sans:300italic,400italic,600italic,400,300,600);

/*
font-family: 'Oswald', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?f73ix2');
    src:url('fonts/icomoon.eot?#iefixf73ix2') format('embedded-opentype'),
        url('fonts/icomoon.woff?f73ix2') format('woff'),
        url('fonts/icomoon.ttf?f73ix2') format('truetype'),
        url('fonts/icomoon.svg?f73ix2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bubble:before {
    content: "\e606";
}
.icon-bubbles:before {
    content: "\e607";
}
.icon-smiley:before {
    content: "\e600";
}
.icon-smiley2:before {
    content: "\e601";
}
.icon-sad:before {
    content: "\e602";
}
.icon-sad2:before {
    content: "\e603";
}
.icon-neutral:before {
    content: "\e604";
}
.icon-neutral2:before {
    content: "\e605";
}
.icon-mail:before {
    content: "\e608";
}
.icon-paperplane:before {
    content: "\e609";
}
.icon-user:before {
    content: "\e60a";
}
.icon-heart:before {
    content: "\e60b";
}
.icon-thumbsup:before {
    content: "\e60c";
}
.icon-quote:before {
    content: "\e610";
}
.icon-house:before {
    content: "\e611";
}
.icon-search:before {
    content: "\e60d";
}
.icon-bell:before {
    content: "\e612";
}
.icon-cog:before {
    content: "\e613";
}
.icon-tools:before {
    content: "\e614";
}
.icon-earth:before {
    content: "\e615";
}
.icon-cross:before {
    content: "\e60e";
}
.icon-blocked:before {
    content: "\e616";
}
.icon-info:before {
    content: "\e617";
}
.icon-warning:before {
    content: "\e60f";
}
.icon-arrow-left:before {
    content: "\e618";
}
.icon-arrow-down:before {
    content: "\e619";
}
.icon-arrow-up:before {
    content: "\e61a";
}
.icon-arrow-right:before {
    content: "\e61b";
}
.icon-arrow-left2:before {
    content: "\e61c";
}
.icon-arrow-down2:before {
    content: "\e61d";
}
.icon-arrow-up2:before {
    content: "\e61e";
}
.icon-arrow-right2:before {
    content: "\e61f";
}
.icon-arrow-left3:before {
    content: "\e620";
}
.icon-arrow-down3:before {
    content: "\e621";
}
.icon-arrow-up3:before {
    content: "\e622";
}
.icon-arrow-right3:before {
    content: "\e623";
}
.icon-menu:before {
    content: "\e624";
}
.icon-ellipsis:before {
    content: "\e625";
}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    background-color: #fbfbfb;
}

* {
    box-sizing: border-box;
}

.content {
    height: 100%;
}
.content-inner {
    width: 50%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.message-box {
    padding: 3% 7px;
    padding-top: 164px; 
    height: 450px;
    overflow: auto;
    width: 100%;
        margin-top: 70px;
        height: 100%;
        position: absolute;
        bottom: 70px;
}

    .message-box::-webkit-scrollbar  {
        opacity: 0.6;
    }

.message-box p {
    font: 300 1.4rem/1.4 'Open Sans', sans-serif;
    padding: 10px;
    border-radius: 5px;
    background: #fbfbfb;
    margin: 6px;
    box-shadow: 3px 4px 20px -14px #000;
}
.msg-wrap {
    width: 100%;
    float: none;
    clear: both;
}
.msg-wrap .left {
    float: left;
    text-align: left;
    max-width: 80%;
    border: 1px solid #efefef;
}
.msg-wrap .right {
    float: right;
    text-align: right;
    max-width: 80%;
    background: #30ca02;
    color: #fff;
    border: 1px solid #efefef;
    box-shadow: -4px 4px 20px -14px #000;
}
.input-box {
    margin: 15px 0;
    width: 100%;
        position: absolute;
        bottom: 0px;
}
.input-box input {
    width: 100%;
    height: 60px;
    padding: 15px;
    background: #fff;
    font: 300 1.4rem/1.2 'Open Sans', Arial, Times, sans-serif;
    color: #444;
    border: 1px solid #ddd;
    box-shadow: 0px;
    vertical-align: top;
}
.input-box input:focus {
    box-shadow: 0px;
    outline: none;
    border: 1px solid #00bbff;
}

header {
    width: 100%;
}

.partner {
    width: 25%;
    height: 100%;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0px;
}
.partner .partner-name, .my-name-input {
    font: 400 1.4rem/2 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #4d4d4d;
    text-align: center; 
}
.my-name-input {
    border: 1px solid transparent; 
    background-color: #fbfbfb; 
    width: auto; 
    min-width: 150px;
    text-overflow: ellipsis; 
}
.my-name-input:focus {
    border: 1px solid grey; 
    box-shadow: 0; 
    outline: none; 
}
.partner .avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto 4px;
}
.partner .avatar img {
    width: 100%; 
}

.partner.a {
    float: left;
}
.partner.b {
    right: 0px
}

.disagree-statement {
    padding: 0px 5% 20px;
    text-align: center;
        position: fixed;
        top: 0px;
        background-color: #fbfbfb;
        box-shadow: 0px 4px 10px -10px #000;
        width: 50%;
        z-index: 9;
}
.disagree-statement p {
    font: 400 1.4rem/1.4 'Open Sans', sans-serif;
    color: #1d9aad;
}
.disagree-statement p em {
    display: block;
    font-weight: 600;
    font-size: 1.8rem;
    font-style: italic;
}

nav {
    position: absolute;
    left: -210px;
    top: 0px;
    height: 100%;
    z-index: 6;
}
nav > [class*="icon"] {
    display: none;
}
nav .nav-inner {
    display: inline-block;
    height: 100%;
}
nav .nav-inner > div {
    padding: 0 10px;
    vertical-align: top;
    height: 100%;
    color: #999;
    text-align: center;
    font: 400 1.2rem 'Open Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.5;
    display: inline-block;
}
nav > div:hover {
    color: #4d4d4d;
    opacity: 1;
}
nav > div span[class*="icon-"] {
    font-size: 2.5rem;
    display: block;
    text-align: center;
    margin: 8px 0 5px;
}

nav .quit span[class*="icon-"] {
    color: #ff0043;
}
nav .abuse span[class*="icon-"] {
    color: #ffd400;
}
nav .done span[class*="icon-"] {
    color: #6DCE5F;
}


.overlay {
    width: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.6);
    padding-top: 200px;
    z-index: 10;
}
.overlay h2 {
    text-align: center;
    font: 400 3rem 'Oswald', sans-serif;
    color: #efefef;
    text-transform: uppercase;
}
.overlay p {
    color: #efefef;
    font-size: 1.7rem;
    text-align: center;
}


@media screen and (max-width: 1000px){
    .content-inner  {
        width: 80%;
    }
    .input-box {}
    nav {
        width: 100%;
        left: -50px;
    }
    nav > [class*="icon"]{
        display: inline-block;
        vertical-align: top;
        width: 50px;
        text-align: center;
        font-size: 2.4rem;
        height: 100%;
        line-height: 60px;
        background: #fff;
        cursor: pointer;
    }
    nav .nav-inner {
        background: #fff;
        width: 0%;
        transition: 0.3s;
        overflow: hidden;
        border: 1px solid transparent;
        display: inline-block;
    }
    nav .nav-inner.opened {
        border: 1px solid #ddd;
        width: 210px; 
    }
    .input-box input {
        -webkit-transform: translateX(0px);
        transition: 0.3s;
    }
    .input-box .translate {
        -webkit-transform: translateX(220px);
    }
    .input-box form {
        overflow-X: hidden;
    }

    .partner {
        height: 200px;
        top: -200px;
        width: 50%;
        transition: 0.3s;
        padding-top: 40px;
        background:  #f6f6f6;
    }
    .partner.slidedown {
        top: 0px;
    }
/*
    .partner + .content-inner {
        top: 0px;
        transition: 0.3s;
    }
    .partner.slidedown + .content-inner {
        top: 200px;
    }
*/

    .disagree-statement {
        width: 80%;
        top: 40px;
        transition: 0.3s;
    }
    .disagree-statement.partner-open {
        top: 240px;
    }
    #open-partner {
        display: block;
        width: 100%;
        height: 40px;
        color: #fff;
        background: #1d9aad;
        text-align: center;
        line-height: 40px;
        font-size: 2.5rem;
        position: relative;
        z-index: 7;
        top: 0px;
        transition: 0.3s;
    }
    #open-partner.partner-open {
        top: 200px;
    }

    .message-box {
        padding-top: 214px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
