/* Fonts*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300|Open+Sans:300italic,400italic,600italic,400,300,600);

/*
font-family: 'Oswald', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?f73ix2');
    src:url('fonts/icomoon.eot?#iefixf73ix2') format('embedded-opentype'),
        url('fonts/icomoon.woff?f73ix2') format('woff'),
        url('fonts/icomoon.ttf?f73ix2') format('truetype'),
        url('fonts/icomoon.svg?f73ix2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bubble:before {
    content: "\e606";
}
.icon-bubbles:before {
    content: "\e607";
}
.icon-smiley:before {
    content: "\e600";
}
.icon-smiley2:before {
    content: "\e601";
}
.icon-sad:before {
    content: "\e602";
}
.icon-sad2:before {
    content: "\e603";
}
.icon-neutral:before {
    content: "\e604";
}
.icon-neutral2:before {
    content: "\e605";
}
.icon-mail:before {
    content: "\e608";
}
.icon-paperplane:before {
    content: "\e609";
}
.icon-user:before {
    content: "\e60a";
}
.icon-heart:before {
    content: "\e60b";
}
.icon-thumbsup:before {
    content: "\e60c";
}
.icon-quote:before {
    content: "\e610";
}
.icon-house:before {
    content: "\e611";
}
.icon-search:before {
    content: "\e60d";
}
.icon-bell:before {
    content: "\e612";
}
.icon-cog:before {
    content: "\e613";
}
.icon-tools:before {
    content: "\e614";
}
.icon-earth:before {
    content: "\e615";
}
.icon-cross:before {
    content: "\e60e";
}
.icon-blocked:before {
    content: "\e616";
}
.icon-info:before {
    content: "\e617";
}
.icon-warning:before {
    content: "\e60f";
}
.icon-arrow-left:before {
    content: "\e618";
}
.icon-arrow-down:before {
    content: "\e619";
}
.icon-arrow-up:before {
    content: "\e61a";
}
.icon-arrow-right:before {
    content: "\e61b";
}
.icon-arrow-left2:before {
    content: "\e61c";
}
.icon-arrow-down2:before {
    content: "\e61d";
}
.icon-arrow-up2:before {
    content: "\e61e";
}
.icon-arrow-right2:before {
    content: "\e61f";
}
.icon-arrow-left3:before {
    content: "\e620";
}
.icon-arrow-down3:before {
    content: "\e621";
}
.icon-arrow-up3:before {
    content: "\e622";
}
.icon-arrow-right3:before {
    content: "\e623";
}
.icon-menu:before {
    content: "\e624";
}
.icon-ellipsis:before {
    content: "\e625";
}


/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Fonts*/
section p.text {
    font: 300 1.4rem/1.2 'Open Sans', sans-serif;
    margin: 1em 0px 2em;
}

/* Layout*/
html, body {
    width: 100%;
    font-size: 62.5%;
    background-color: #fbfbfb;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 50px 0;
    background: #f6f6f6;
} 

.logo-wrap {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #00bbff;
    overflow: hidden;
    margin: 0px auto; 
}
.logo-wrap img {
    width: 100%;
}
nav {
    width: 100%;
    height: 150px;
    background: url('http://www.simsso.de/img/blender/earth.jpg');
    background-position: center; 
    background-attachment: fixed;
    background-size: cover;
    text-align: center; 
    overflow: hidden; 
    padding-top: 25px;
}
nav div {
    width: 80px;
    height: 80px;
    font: 600 1.4rem 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
    text-align: center;
    background: #4d4d4d;
    margin: 0px 15px;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.9;
    cursor: pointer;
}
nav div:hover {
    transform: scale(1.05);
    /*box-shadow: 0 0 3px #00f;*/
}
nav div:active {
    transform: scale(.95);
    /*box-shadow: inset 0 0 5px #00f;*/
}
nav div .center {
    display: table-cell;
    height: 80px;
    width: 80px;
    vertical-align: middle;
    padding: 0 15px;
}
nav div:nth-child(2), nav div:nth-child(2) .center {
    width: 100px;
    height: 100px;
    font-size: 2rem;
}

nav div:hover {
    background: #8cd7f2;
    color: #fff;
}
nav div.active {
    background: #8cd7f2;
    color: #fff;
    opacity: 1;
}
.content h2{
    font: 700 2rem 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #4d4d4d;
}
.content .content-inner {
    width: 40%;
    margin: 0 auto;
    padding: 50px 0;
}

.content .topic {
    margin: 16px 0;
    border: 1px solid #ddd;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}
.topic .number {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 56px;
    background: #f6f6f6;
    text-align: center;
    box-shadow: 0px 0px 6px -4px #4d4d4d inset;
    font: 400 1.4rem/56px 'Oswald', sans-serif;
    color: #666;

}
.topic p {
    padding: 0 10px 0px 50px;
    max-width: 70%;
    max-width: calc(100% - 120px);
    font: italic 400 1.4rem/2 'Open Sans', sans-serif;
    color: #666;
    display: inline-block;
    float: left;
}
.content .topic .group {
    width: 120px;
    height: 100%;
    background: #f9f9f9;
    float: right;
    border-left: 1px solid #ddd;
}
.topic .group > div {
    width: 100%;
    height: 33.333%;
    transition: 0.3s;
    font: 400 1.4rem/40px 'Open Sans', sans-serif;
    text-align: left;
    padding: 0px 10px;
    cursor: pointer;
} 
.topic .group > div:before {
    font: 300 2rem 'icomoon', sans-serif;
    margin-right: 10px;
    vertical-align: middle;
}
.agree {
    color: #6dce5f; 
}
.agree.active {
    background: #4db23e;
    -box-shadow: 0px 0px 7px 0px #116604 inset;
    color: #fff;
}
.neutral {
    color: #aaa; 
}
.neutral.active {
    background: #bbb;
    color: #fff;
    -box-shadow: 0px 0px 7px 0px #222 inset;
}

.disagree {
    color: #e00038; 
}
.disagree.active {
    background: #d30438;
    color: #fff;
    -box-shadow: 0px 0px 7px 0px #820020 inset;
}
.topic .group .agree:before {
    content: '\e600';
}
.topic .group .agree.active:before {
    content: '\e601';
}
.topic .group .neutral:before {
    content: '\e604';
}
.topic .group .neutral.active:before {
    content: '\e605';
}
.topic .group .disagree:before {
    content: '\e602';
}
.topic .group .disagree.active:before {
    content: '\e603';
}

.content input.submit {
    width: 50%;
    height: 60px;
    display: block;
    margin: 20px auto;
    color: #fff;
    background: #3ca032;
    border: none;
    font: 400 2rem 'Oswald', sans-serif;
    transition: 0.3s;
}
.content input.submit:focus {
    box-shadow: 0px;
    outline: none;
}
.content input.submit:active {
    -webkit-transform: scale(0.94);
}

footer {
    background: #4d4d4d;
    color: #aaa;
    padding: 25px 20%;
    border-top:6px solid #222;
    font: 300 1.4rem/1.3 'Open Sans', sans-serif;
    float: left;
    width: 100%;
}
footer .logo-wrap {
    width: 100px;
    height: 100px;
    float: left;
}
footer .info {
    float: right;
}
footer .info a {
    color: rgb(170, 170, 170) !important; 
}
footer .info .icon-info{
    display: block;
    text-align: center;
    font-size: 6rem;
    display: inline-block;
    vertical-align: middle;
}
footer .info p {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}
footer .info .icon-house {
    display: block;
    position: absolute;
    top: -26px;
    font-size: 2rem
}


/* Stats css*/
meter {
    height: 35px;
    width: 60%;
    margin-left: 5%;
    border-radius: 5px;
      -webkit-appearance: none;
}
meter::-webkit-meter-optimum-value {
  -webkit-transition: width .5s;
  background: #6dce5f;
}
meter.meter-disagree::-webkit-meter-optimum-value {
    background: #D30438;
}
meter.meter-neutral::-webkit-meter-optimum-value {
    background: #bbb;
}
meter::-webkit-meter-bar {
  background: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 10px -6px #000;
  background-color: whiteSmoke;
  animation: animate-stripes 5s linear infinite;
  background-image:
    linear-gradient(
      135deg,
      transparent,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    );
  background-size: 70px 35px;
}

@keyframes animate-stripes {
  to { background-position: -70px 0; }
}

.group-stats {
    width: 100%;
    border-top: 1px solid #ddd;
    background: #f9f9f9;
    clear: left;
    padding-bottom: .1px; /* strange thing - leave it as it is */
}

.group-stats > div {
    height: 35px;
    margin: 35px;
    position: relative;
    z-index: 1;
}
.group-stats div .white-layer {
    position: absolute;
    width: 100%;
    height: 65px;
    border: 1px solid #ddd;
    box-shadow: 2px 3px 10px -8px #000;
    background-color: #fff;
    z-index: -1;
    top: -15px;
    left: -15px;
}
.group-stats > div > span[class*="icon"] {
    display: inline-block;
    vertical-align: top;
    width:30%;
    padding: 0px 15px;
    font: 400 1.4rem/35px 'Open Sans', sans-serif;
    border-radius: 5px;
}
.group-stats > div > span.icon-smiley2 {
    background: #4db23e;
    -box-shadow: 0px 0px 7px 0px #116604 inset;
    color: #fff;
}
.group-stats > div > span.icon-neutral2 {
    background: #bbb;
    color: #fff;
    -box-shadow: 0px 0px 7px 0px #222 inset;
}
.group-stats > div > span.icon-sad2 {
    background: #d30438;
    color: #fff;
    -box-shadow: 0px 0px 7px 0px #820020 inset;
}
.group-stats > div > span:before {
    font: 400 2rem 'icomoon', sans-serif;
    vertical-align: middle;
    margin-right: 10px;
}

.group-stats .value {
    font: 700 1.2rem/35px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #4d4d4d;
    margin-left: 8px;
    display: block;
    position: absolute;
    right: -22px;
    top: 0px;
}

@media screen and (max-width: 900px) {
    .content .content-inner {
        width: 80%;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
